@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --seb-green: #60A964;
  --seb-green-faded: #ABC9AC;
  --seb-green-darker: #438146;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
